.blog-navbar-search {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #343a40;
}

.blog-navbar-search:focus {
    outline: none;
    background-color: #343a40;
}

.blog-navbar-search:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
    color: white;
}
.blog-navbar-search {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 #343a40;
}

.blog-navbar-search-icon {
    color: white;
}

.blog-navbar-search-icon:hover {
    cursor: pointer;
}

.blog-home-jumbotron {
    /* The image used */
    background-image: url("../static/images/background-code.jpg");

    /* Full height */
    height: 100%;
    color: white;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-mycard-overlay-text {
    color: aquamarine;
}

hr{
    height: 1px;
    background-color: #ccc;
    border: none;
}

.blog-home-skill-jumbotron {
    /* The image used */
    /*background-image: url("../static/images/background-terminal.jpg");*/
    background-color: #495057;

    /* Full height */
    height: 100%;
    color: white;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    height: 40px;
    width: 60px;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.blog-project-card:hover .card-img{
    opacity: 0.3;
}

.blog-quote {
    min-height: 200px;
}

.blog-terminal-img {
    height: 400px;
    width: 500px;
}

.blog-typer {
    font-size: 3.5em;
}

.blog-button:after {
    display:block;
    content: '';
    border-bottom: solid 3px #019fb6;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.blog-button:hover:after { transform: scaleX(1); }


.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
}

.blog-profile-info {
    font-family: Ubuntu, monospace;
}

.blog-profile-info li {
    border-bottom: 0 none;
}

.blog-var-const {
    color: #e83e8c;
}

.blog-var-var {
    color: orangered;
}

.blog-var-class {
    color: orangered;
}
.blog-var-echo {
    color: #e83e8c;
}

/*.wrapper, .row {*/
    /*height: 100%;*/
    /*margin-left:0;*/
    /*margin-right:0;*/
/*}*/

/*.wrapper:before, .wrapper:after,*/
/*.column:before, .column:after {*/
    /*content: "";*/
    /*display: table;*/
/*}*/

/*.wrapper:after,*/
/*.column:after {*/
    /*clear: both;*/
/*}*/

#sidebar {
    /*background-color:#eee;*/
    /*height:100%;*/
    position:fixed;
    right:0;
}

#sidebar ul li:hover {
    cursor: pointer;
}

body {
    background-color: #343a40 !important;
}

.navbar-toggler {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-nav-icons {
    text-shadow: 3px 3px 16px #272634;
}

.blog-icons:hover {
    color: #FA8072;
}
